<%= form_for(@course, url: {action: "create"}) do |f| %>
  <%= f.hidden_field :program_id, :value => @program.id %>
  <%= f.hidden_field :year_id, :value => @year.id %>

  <div class="form-group">
    <%= f.label :course_number %>
    <%= f.text_field :course_number, placeholder: 'course number', class: 'form-control answer-field' %>
  </div>
  <div class="form-group">
    <%= f.label :course_title %>
    <%= f.text_field :course_title, placeholder: 'course title', class: 'form-control answer-field' %>
  </div>
  <div class="form-group">
    <%= f.label :total_hours %>
    <%= f.text_field :course_hours, placeholder: 'total hours', class: 'form-control answer-field' %>
  </div>
  <div class="form-group">
    <%= f.label :recommended_credits %>
    <%= f.text_field :course_credits, placeholder: 'recommended credits', class: 'form-control answer-field' %>
  </div>
  <div class="form-group">
    <%= f.label "Term(s) offered" %>
    <%= f.text_field :term, placeholder: 'term(s) offered', class: 'form-control answer-field' %>
  </div>
  <div class="form-group">
    <%= f.label :new? %>
    <%= f.select :new_course, options_for_select([['',''],['Yes','Yes'],['No','No']]), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Language(s) of Instruction" %>
    <%= f.text_field :language, placeholder: 'language(s) of instruction', class: 'form-control answer-field' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <%= link_to "Cancel", :back, class: 'btn btn-default' %>
  </div>
<% end %>
