<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Title</th>
      <th>Course Hours</th>
      <th>Course Credits</th>
      <th>Term</th>
      <th>New Course (Y/N)</th>
      <th>Language</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_number %></td>
        <td><%= link_to course.course_title, edit_program_year_course_path(course, @program.id, @year.id) %></td>
        <td><%= course.course_hours %></td>
        <td><%= course.course_credits %></td>
        <td><%= course.term %></td>
        <td><%= course.new_course %></td>
        <td><%= course.language %></td>
        <td><%# link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Course', new_course_path %>
