<% require 'sanitize' %>
<h2><%= @program.name %>, <%= @year.year %></h2>
<div>

	<ul class="tabs">
		<% @tabs.each do |tab| %>
			<li><a href="#<%= tab.name.parameterize %>"><%= tab.name %></a></li>
		<% end %>
	</ul>

	<% @tabs.each do |tab| %>
			<div class="tab" id="<%= tab.name.parameterize %>">

				<% if tab.name.parameterize == 'academics'%> <!-- Begin Courses if Academics tab is displayed -->
					<%= render partial: "courses/index", locals: { year: @year, program: @program} %>
				<% end %> <!-- End display of Courses -->

				<% sections = Section.where(tab_id: tab.id).order(:position) %>
				<% if sections %>
					<% sections.each do |section| %>
						<%= render partial: 'sections/show', locals: { section: section } %>
					<% end %>
				<% end %>

			</div>
	<% end %>

</div>
